@import "tailwindcss";

@font-face {
    font-family: 'Satoshi';
    src: url('/fonts/Satoshi-Light.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Satoshi';
    src: url('/fonts/Satoshi-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}

::-webkit-scrollbar {
    display: none; 
}

body {
    font-family: 'Satoshi', sans-serif;
    overflow: hidden;
}
